@use "./../../styling/variables" as *;
@use "./../../styling/reset";

.container {
    padding: 3rem;
}

.title {
    color: $primary-color;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    &__tr {
        background-color: $primary-color;
        color: #ffffff;
    }
    
    &__th,
    &__td {
        padding: 12px 15px;
    }
    
    &__tr {
        border-bottom: 1px solid #dddddd;
    }
    
    & tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    & tr:last-of-type {
        border-bottom: 2px solid $primary-color;
    }

}
